/*

    Project: Project name
    Print styles

    Author: Creuna Danmark A/S / www.creuna.dk
    Copyright: 2010, Creuna Danmark A/S. All rights resevered

-----------------------------------------------------------------------*/